{
  "parser": "babel-eslint",
  "env": {
      "node": true,
      "browser": true,
      "es6": true
  },
  "extends": "airbnb",
  "plugins": [ "babel", "react", "react-native", "jsx-a11y" ],
  "globals": {
      "__DEV__": true,
      "XMLHttpRequest": true,
      "emit": true
  },
  "rules": {
      "no-extraneous-dependencies": 0,
      "react/jsx-closing-bracket-location": 0,
      "max-len": 0,
      "import/no-extraneous-dependencies": 0,
      "import/no-unresolved": 0,
      "no-underscore-dangle": 0,
      "global-require": 0,
      "no-prototype-builtins": 0,
      "camelcase": 0,
      "react/jsx-filename-extension": 0,
      "class-methods-use-this": 0,
      "func-names": 0,
      "jsx-a11y/href-no-hash": 0,
      "no-tabs": 0,
      "indent": [2, 2, {"SwitchCase": 1}],
      "react/jsx-indent": 0,
      "react/jsx-indent-props": 0,
      "react/react-in-jsx-scope": 0,
      "import/extensions": 0,
      "react/prefer-stateless-function": 0,
      "no-use-before-define": 0,
      "no-console": 0,
      "no-plusplus": 0,
      "react/destructuring-assignment": 0,
      "react/forbid-prop-types": 0,
      "react/require-default-props": 0,
      "prefer-rest-params": 0,
      "import/prefer-default-export": 0,
      "no-continue": 0,
      "prefer-promise-reject-errors": 0,
      "prefer-destructuring": 0,
      "object-curly-newline": 0,
      "react/sort-comp": 0,
      "no-nested-ternary": 0,
      "no-restricted-properties": 0,
      "no-inner-declarations": 0,
      "no-restricted-syntax": 0,
      "lines-between-class-members": "off",
      "react/no-access-state-in-setstate": 0,
      "react/jsx-one-expression-per-line": 0,
      "no-useless-escape": 0,
      "no-else-return": "off"
  }
}
